@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(224, 194, 194);
}
body .bodyinicio {
  background-color: rgb(224, 194, 194);
  background-image: url(../img/fondo\ de\ inicio.jpg);
  background-size: cover;
  background-attachment: fixed;
}
body .bodycontacto {
  background-color: rgb(224, 194, 194);
  background-image: url(../img/fondo\ de\ contacto.jpg);
  background-size: cover;
  background-attachment: fixed;
}
body .bodygalería {
  background-color: rgb(224, 194, 194);
  background-image: url(../img/fondo\ de\ sucursales.jpg);
  background-size: cover;
  background-attachment: fixed;
}
body .bodymenú {
  background-color: rgb(224, 194, 194);
  background-image: url(../img/fondo\ menú.jpg);
  background-size: cover;
  background-attachment: fixed;
}
body .bodysucursales {
  background-color: rgb(224, 194, 194);
  background-image: url(../img/fondo\ sucursales.jpg);
  background-size: cover;
  background-attachment: fixed;
}

header .stylepropio {
  font-family: serif;
  color: rgb(215, 89, 89);
  text-align: center;
}
header .sub {
  font-family: fantasy;
  color: rgb(215, 89, 89);
  text-align: center;
}
header .logocoffee {
  width: 95px;
}
header .colonav {
  background-color: rgb(215, 158, 169);
}

main .restaurante {
  text-align: center;
}
main .párrafo1 {
  text-align: center;
  font-size: 30px;
  padding: 0;
  margin: 5rem;
  font-family: "Times New Roman", Times, serif;
}
main .párrafo2 {
  text-align: center;
  font-size: 30px;
  padding: 0;
  margin: 5rem;
  font-family: "Times New Roman", Times, serif;
}
main .vídeo {
  text-align: center;
  margin: 5rem;
}

footer .footer {
  text-align: center;
  margin: 20px auto;
  background-color: rgb(215, 158, 169);
  padding: 15px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
footer .social {
  text-align: center;
  width: 40px;
}

main contacto.html .contactolocal {
  margin: 3rem;
  text-align: center;
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
}
main contacto.html .contactoformulario {
  margin: 3rem;
  text-align: center;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
}
main contacto.html .forms {
  width: 500px;
  margin: 0 auto;
  border: solid rgb(209, 128, 128) 3px;
  padding: 1rem;
}
main contacto.html .acordeon {
  width: 700px;
  margin: 0 auto;
  padding: 1rem;
}
main contacto.html .banco {
  width: 100px;
}
main contacto.html .mercado {
  width: 100px;
}
main contacto.html .efectivo {
  width: 100px;
}

main galeria.html .imágenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
main galeria.html img {
  margin: 30px;
}

main menu.html .principal {
  text-align: center;
  font-size: x-large;
  font-family: cursive;
  margin: 5rem;
}
main menu.html .subtítulo {
  text-align: center;
  font-size: x-large;
  font-family: monospace;
  margin: 2rem;
}
main menu.html .menú {
  text-align: center;
  margin: 3rem;
}
main menu.html .párrafomenú {
  margin: 3rem;
  font-size: 15px;
}

main sucursales.html .ubicaciones {
  text-align: center;
  font-size: 30px;
  font-family: cursive;
  margin: 3rem;
}
main sucursales.html .mapa {
  text-align: center;
  font-size: 30px;
  font-family: cursive;
}
main sucursales.html .local {
  text-align: center;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}
main sucursales.html .sucursal {
  text-align: center;
  margin: 5rem;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}
main sucursales.html .maps {
  text-align: center;
  margin: 3rem;
}
@media (max-width: 480px) {
  .restaurante img {
    text-align: center;
    width: 350px;
    height: 600px;
  }
  .imágenes img {
    text-align: center;
    width: 350px;
    height: 600px;
  }
  .menú img {
    text-align: center;
    width: 300px;
    height: 500px;
  }
}

/*# sourceMappingURL=estilo.css.map */
