footer{
    .footer{
        text-align: center;
        margin: 20px auto;
        background-color: $rosa;
        padding: 15px;
        width: 100%; 
        justify-content: space-between;
        align-items: center;
    }
    .social{
        text-align: center;
        width: 40px;
    
    }
}