header{
    .stylepropio{
        font-family: serif;
        color: $rosaoscuro; 
        text-align: center;
    }
    .sub{
        font-family: fantasy;
        color: $rosaoscuro;
        text-align: center;
    }
    .logocoffee{
        width: 95px;
    }
    .colonav{
        background-color: $rosa;
    }
}