main menu.html{
    .principal{
        text-align: center;
        font-size: x-large;
        font-family: cursive;
        margin: 5rem;
    }
    .subtítulo{
        text-align: center;
        font-size: x-large;
        font-family: monospace;
        margin: 2rem;
    }
    .menú{
        text-align: center;
        margin: 3rem;
    }
    .párrafomenú{
        margin: 3rem;
        font-size: 15px;
    }
}