main contacto.html{
    .contactolocal{
        margin: 3rem;
        text-align: center;
        font-size: 40px;
        font-family: 'Courier New', Courier, monospace;
    }
    .contactoformulario{
        margin: 3rem;
        text-align: center;
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
    }
    .forms{
        width: 500px;
        margin: 0 auto;
        border: solid rgb(209, 128, 128) 3px;
        padding: 1rem;
    }
    .acordeon{
        width: 700px;
        margin: 0 auto;
        padding: 1rem;
    }
    .banco{
        width: 100px;
    }
    .mercado{
        width: 100px;
    }
    .efectivo{
        width: 100px;
    }
}