main menu.html{
    .principal{
        text-align: center;
        font-size: x-large;
        font-family: cursive;
        margin: 5rem;
    }
    .subtitulo{
        text-align: center;
        font-size: x-large;
        font-family: monospace;
        margin: 2rem;
    }
}