main{
    .restaurante{
        text-align: center;
    }
    .párrafo1{
        text-align: center;
        font-size: 30px;
        padding: 0;
        margin: 5rem;
        font-family: 'Times New Roman', Times, serif;
    }
    .párrafo2{
        text-align: center;
        font-size: 30px;
        padding: 0;
        margin: 5rem;
        font-family: 'Times New Roman', Times, serif;
    }
    .vídeo{
        text-align: center;
        margin: 5rem;
    }
}