main contacto.html{
    .contactolocal{
        text-align: center;
        font-size: xx-large;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .contactoformulario{
        text-align: center;
        font-size: x-large;
        font-family: 'Times New Roman', Times, serif;
    }
    .formulario{
        width: 500px;
        margin-top: 74px;
        margin-left: 675px;
        border: solid rgb(204, 186, 186) 2px;
        padding: 1rem
    }
    .section2{
        text-align: center;
        margin: 5rem;
    }
}