@media (max-width:480px) {
    .restaurante img{
        text-align: center;
        width: 350px;height: 600px;
    }
    .imágenes img{
        text-align: center;
        width: 350px;height: 600px;
    }
    .menú img{
        text-align: center;
        width: 300px;height: 500px;
    }
} 